<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
      internalLogFile="internal_log_file.txt"
      internalLogLevel="Fatal"
      internalLogToConsole="false"
      autoReload="true">

  <targets>
    <target name="console"
            xsi:type="ColoredConsole"
            layout="${longdate} ${level:uppercase=true:padding=-8} ${mdlc:item=RegionType} ${mdlc:item=RegionName} ${event-properties:item=BranchType} ${logger} ${message} ${exception:format=tostring}">
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>